set showmode


set incsearch
set hlsearch
set nu
set rnu
set clipboard=unnamed
set ignorecase
set smartcase

map f :action emacsIDEAs.AceJump<CR>
" Press `F` to activate Target Mode
map F :action AceTargetAction<CR>
" Press `g` to activate Line Mode

set timeoutlen=200
imap kj <Esc>
map ' `
map mm :action ToggleBookmark0<CR>
map mn :action ToggleBookmark1<CR>
map `m :action GotoBookmark0<CR>
map `n :action GotoBookmark1<CR>


let mapleader=","
map <leader>w :%s/
map <leader>r y:%s/<C-r>0/
map <leader>b "_
map <C-D> <PageDown>
map <C-U> <PageUp>
