set showmode
set visualbell
set noerrorbells
 
set incsearch
set hlsearch
set nu
set rnu
set clipboard+=unnamed
set clipboard+=unnamedplus
set ignorecase
set smartcase
  
  
set timeoutlen=200
imap kj <Esc>
map ' `
map mm :action ToggleBookmark0<CR>
map mn :action ToggleBookmark1<CR>
map `m :action GotoBookmark0<CR>
map `n :action GotoBookmark1<CR>

let mapleader=","
" Press `f` to activate AceJump
" map f <Action>(AceAction)
" Press `F` to activate Target Mode
" map F <Action>(AceTargetAction)
" Press `g` to activate Line Mode
" map g <Action>(AceLineAction)

nmap f :action KJumpAction<cr>
nmap F :action KJumpAction.Word0<cr>
nmap g :action KJumpAction.Line<cr>
 
map <leader>b "_
map <C-D> <PageDown>
map <C-U> <PageUp>
nnoremap H gT
nnoremap L gt

map <leader>r y:%s/<C-r>0/
map <leader>v v$h
  
map <leader>f :action KJumpAction<cr>
map <leader>1 "1p
map <leader>2 "2p
map <leader>3 "3p
map <leader>4 "4p
map <leader>5 "5p
map <leader>6 "6p
map <leader>7 "7p
map <leader>w "1p
set ideajoin
