set showmode
set visualbell
set noerrorbells
 
set incsearch
set hlsearch
set nu
set rnu
set clipboard+=unnamed
set clipboard+=unnamedplus
set ignorecase
set smartcase
  
  
set timeoutlen=200
imap kj <Esc>
map ' `
map ma :action ToggleBookmarkA<CR>
map mb :action ToggleBookmarkB<CR>
map mc :action ToggleBookmarkC<CR>
map md :action ToggleBookmarkD<CR>
map mf :action ToggleBookmarkF<CR>
map ms :action ToggleBookmarkS<CR>
map `a :action GotoBookmarkA<CR>
map `b :action GotoBookmarkB<CR>
map `c :action GotoBookmarkC<CR>
map `d :action GotoBookmarkD<CR>
map `f :action GotoBookmarkF<CR>
map `s :action GotoBookmarkS<CR>

let mapleader=","

nmap f :action KJumpAction<cr>
nmap F :action KJumpAction.Word0<cr>
vnoremap f :action KJumpAction<cr>
vnoremap F :action KJumpAction.Word0<cr>
" nmap g :action KJumpAction.Line<cr>

nnoremap , <C-;>
 
map <leader>b "_
map <C-D> <PageDown>
map <C-U> <PageUp>
nnoremap H gT
nnoremap L gt

map <leader>r y:%s/<C-r>0/
map <leader>v v$h
map <leader>p "_dP
  
map <leader>1 "1p
map <leader>2 "2p
map <leader>3 "3p
map <leader>4 "4p
map <leader>5 "5p
map <leader>6 "6p
map <leader>7 "7p
map <leader>w "1p
set ideajoin
